@model RgSite.ViewModels.ProfileListViewModel

<div class="container">
    <div class="row">
        <table class="table table-hover" id="userIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Member Since</th>
                    <th>
                        <i>
                            <a id="add-user" class="fas fa-user-plus pull-right" role="button" asp-controller="Profile" asp-action="AddUser"></a>
                        </i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profile in Model.Profiles)
                {
                    <tr class="userRow">
                        <td>
                            <div class="userProfilePic" style="background-image: url(@profile.ProfileImageUrl)"></div>
                        </td>
                        <td>
                            @profile.Username
                        </td>
                        <td>
                            @profile.Email
                        </td>
                        <td>
                            @profile.MemberSince
                        </td>
                        <td>
                            <i>
                                <a id="delete-user" class="fas fa-user-minus pull-right" role="button" asp-controller="Profile" asp-action="DeleteUser" ></a>
                            </i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .container {
        padding-top: 15px;
    }

    .userProfilePic {
        height: 50px;
        width: 50px;
        background-size: 100%;
    }

    .fa-user-minus {
        color: red;
    }

</style>