/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*Header and Navbar
-------------------------------------------------- */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.header {
    text-align: center;
    background: url(../images/pw_maze_black_2X.png) left top repeat;
    padding: 280px 0;
}

.logo {
    width: 130px;
    margin: 0 auto 35px;
}

.header h1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0 0 22px 0;
    color: #fff;
}

.small-logo {
    padding: 0 32px;
    height: 90px;
}

.nav-tab {
    padding-top: 25px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
