@model RgSite.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="main-section" id="products-section">
    <div class="container">
        <div class="row">
            <ul class="homeColleList">
                @foreach (var prod in Model.Products)
                {
                    <li>
                        <div class="colleImg">
                            <img src="@prod.ImageUrl" />
                            <h2>HAIR B...</h2>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<div class="main-section alabaster" id="stories-section">
    <div class="container">
        <h2>Services</h2>
        <h6>We offer exceptional service with complimentary hugs.</h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>branding &amp; identity</h3>
                        <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>web development</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-apple"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>mobile design</h3>
                        <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="img/macbook-pro.png" alt="">
            </figure>

        </div>
    </div>
</div>


<style>
    .featured-box-col1 i {
	    display:block;
	    line-height:38px;
	    font-family: 'FontAwesome';
	    font-size:38px;
	    color:#777777;
	    font-style:normal;
    }

    .main-section.alabaster {
	    background:#fafafa;
    }

    .main-section {
	    padding:90px 0 110px;
    }

        ul.homeColleList {
    list-style: none;
    padding: 0;
    margin: 41px 0 0 0;
}

ul.homeColleList li {
    float: left;
    width: 24.3%;
    text-align: center;
    background: #fcfcfc;
    margin-right: 0.9%;
    margin-bottom: 0.9%;
    padding-bottom: 3%;
    padding-top: 5%;
}
</style>