@model RgSite.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="main-section" id="products-section">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="card-columns">
                    @foreach (var prod in Model.Products)
                    {
                        <div class="card bg-light" style="height: 400px; width: 300px;">
                            <img class="card-img-top h-75" src="@prod.ImageUrl" alt="Card image">
                            <div class="card-body">
                                <h5 class="card-title">@prod.Name</h5>
                                @*<a class="btn btn-primary" asp-controller="Artist" asp-action="Detail" asp-route-id="@prod.ProductId">
                                    See Profile
                                </a>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-section alabaster" id="stories-section">
    <div class="container">
        <div class="row">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators" >
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-logo img-fluid mx-auto d-block" src="~/images/carousel-logo.png" />
                        <h1 class="carousel-header">AMAZON X-TREME</h1>
                        <img id="carousel-img" class="img-fluid mx-auto d-block" src="~/images/amazon-nobackground.png">
                        <div class="carousel-text-div-left-top float-left col-sm-4 align-text-top">
                            <h4 class="carousel-text-header">WHY IT WORKS</h4>
                            <p class="carousel-text">Lightweight gel formula smoothes and straightens hair without leaving behind a heavy residue.</p>
                        </div>
                        <div class="carousel-text-div-left-bottom float-left col-sm-4 align-text-top">
                            <h4 class="carousel-text-header">WONDERFUL RESULTS</h4>
                            <p class="carousel-text">Unique straightening and shine! Results last for up to 12 weeks.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img id="carousel-img" class="img-fluid mx-auto d-block" src="~/images/collections/hairb.jpg">
                    </div>
                    <div class="carousel-item">
                        <img id="carousel-img" class="img-fluid mx-auto d-block" src="~/images/collections/cc.jpg">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="main-section" id="stories-section">
    <div class="container">
        <h2>Stories</h2>
        <h6>We offer exceptional service with complimentary hugs.</h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>branding &amp; identity</h3>
                        <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>web development</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-apple"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>mobile design</h3>
                        <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="img/macbook-pro.png" alt="">
            </figure>

        </div>
    </div>
</div>

<style>
    .main-section.alabaster {
	    background: #fafafa;
    }

    .main-section {
	    padding: 90px 0 110px;
    }

    .alabaster {
        padding: inherit;
        padding-top: 10px;
        height: 650px
    }

    /*Carousel
    --------------------------------------*/
    .carousel {
        width: 1000px;        
    }

    #carousel-img {
        height: 500px;
    }

    .carousel-header {
        padding-top: 20px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 62px;
        font-weight: 900;
        line-height: 62px; 
        z-index: 5; 
        white-space: nowrap; 
        color: rgb(112, 166, 66);
    }

    .carousel-text-div-left-top {
        position: absolute; 
        display: block; 
        visibility: visible; 
        left: 50px; 
        top: 280px; 
        z-index: 9;
    }

    .carousel-text-div-left-bottom {
        position: absolute; 
        display: block; 
        visibility: visible; 
        left: 50px; 
        top: 440px; 
        z-index: 9;
    }

    .carousel-text-header {
        z-index: 8; 
        min-width: 241px; 
        max-width: 241px; 
        white-space: nowrap;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px; 
    }

    .carousel-text {
        z-index: 9; 
        min-width: 241px; 
        max-width: 241px; 
        white-space: normal; 
        font-size: 12px; 
        line-height: 22px; 
    }

</style>