
<div class="jumbotron text-center">
    <h1 class="display-3">Success!<i class="far fa-check-circle"></i></h1>
    <p class="lead">Your order has been processed successfully.<strong>Please check your email</strong> to view your order.</p>
    <hr>
</div>

